.tournament-table {
    padding: 100px 0;
}
.tournament-table .tournament-bracket {
    display: flex;
    flex-direction: column;
}
@media (min-width: 38em) {
    .tournament-table .tournament-bracket {
        flex-direction: row;
    }
}
.tournament-table .tournament-bracket__round {
    display: block;
    margin-left: -3px;
    flex: 1;
}
.tournament-table .tournament-bracket__round-title {
    color: #000;
    font-size: 0.95rem;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-bottom: 0.5em;
}
.tournament-table .tournament-bracket__list {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
    min-height: 100%;
    border-bottom: 1px dashed #000;
    padding-bottom: 2em;
    margin-bottom: 2em;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media (max-width: 24em) {
    .tournament-table .tournament-bracket__list {
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
}
@media (min-width: 38em) {
    .tournament-table .tournament-bracket__list {
        margin-bottom: 0;
        padding-bottom: 0;
        border-right: 1px dashed #000;
        border-bottom: 0;
    }
}
.tournament-table
    .tournament-bracket__round:last-child
    .tournament-bracket__list {
    border: 0;
}
.tournament-table .tournament-bracket__item {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2% 0;
    width: 48%;
    transition: padding 0.2s linear;
}
.tournament-table .tournament-bracket__item:nth-child(odd) {
    margin-right: 2%;
}
.tournament-table .tournament-bracket__item:nth-child(even) {
    margin-left: 2%;
}
.tournament-table .tournament-bracket__item::after {
    transition: width 0.2s linear;
}
@media (max-width: 24em) {
    .tournament-table .tournament-bracket__item {
        width: 100%;
    }
    .tournament-table .tournament-bracket__item:nth-child(odd),
    .tournament-table .tournament-bracket__item:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 38em) {
    .tournament-table .tournament-bracket__item {
        padding: 0.5em 1em;
        width: 100%;
    }
    .tournament-table .tournament-bracket__item:nth-child(odd),
    .tournament-table .tournament-bracket__item:nth-child(even) {
        margin: 0;
    }
    .tournament-table .tournament-bracket__item::after {
        position: absolute;
        right: 0;
        content: "";
        display: block;
        width: 1em;
        height: 45%;
        border-right: 2px solid #000;
    }
    .tournament-table .tournament-bracket__item:nth-child(odd)::after {
        top: 50%;
        border-top: 2px solid #000;
        transform: translateY(-1px);
    }
    .tournament-table
        .tournament-bracket--rounded
        .tournament-bracket__item:nth-child(odd)::after {
        border-top-right-radius: 0.6em;
    }
    .tournament-table .tournament-bracket__item:nth-child(even)::after {
        bottom: 50%;
        border-bottom: 2px solid #000;
        transform: translateY(1px);
    }
    .tournament-table
        .tournament-bracket--rounded
        .tournament-bracket__item:nth-child(even)::after {
        border-bottom-right-radius: 0.6em;
    }
    .tournament-table
        .tournament-bracket__round:first-child
        .tournament-bracket__item {
        padding-left: 0;
    }
    .tournament-table
        .tournament-bracket__round:last-child
        .tournament-bracket__item {
        padding-right: 0;
    }
    .tournament-table
        .tournament-bracket__round:last-child
        .tournament-bracket__item::after {
        display: none;
    }
    .tournament-table
        .tournament-bracket__round:nth-last-child(2)
        .tournament-bracket__item::after {
        border-radius: 0;
        border-right: 0;
    }
}
@media (min-width: 72em) {
    .tournament-table .tournament-bracket__item {
        padding: 0.5em 1.5em;
    }
    .tournament-table .tournament-bracket__item::after {
        width: 1.5em;
    }
}
.tournament-table .tournament-bracket__match {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.1em;
    gap: 10px;
    outline: none;
    cursor: pointer;
    transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-table .tournament-bracket__match:focus {
    border-color: #2196f3;
}
.tournament-table .tournament-bracket__match::before,
.tournament-table .tournament-bracket__match::after {
    transition: all 0.2s linear;
}
@media (max-width: 24em) {
    .tournament-table .tournament-bracket__match {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 38em) {
    .tournament-table .tournament-bracket__match::before,
    .tournament-table .tournament-bracket__match::after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: "";
        display: block;
        width: 1em;
        height: 10%;
        border-left: 2px solid #000;
    }
    .tournament-table .tournament-bracket__match::before {
        bottom: 50%;
        border-bottom: 2px solid #000;
        transform: translate(0, 1px);
    }
    .tournament-table
        .tournament-bracket--rounded
        .tournament-bracket__match::before {
        border-bottom-left-radius: 0.6em;
    }
    .tournament-table .tournament-bracket__match::after {
        top: 50%;
        border-top: 2px solid #000;
        transform: translate(0, -1px);
    }
    .tournament-table
        .tournament-bracket--rounded
        .tournament-bracket__match::after {
        border-top-left-radius: 0.6em;
    }
}
@media (min-width: 72em) {
    .tournament-table .tournament-bracket__match::before,
    .tournament-table .tournament-bracket__match::after {
        width: 1.5em;
    }
    .tournament-table .tournament-bracket__match::before {
        transform: translate(0, 1px);
    }
    .tournament-table .tournament-bracket__match::after {
        transform: translate(0, -1px);
    }
}
.tournament-table
    .tournament-bracket__round:last-child
    .tournament-bracket__match::before,
.tournament-table
    .tournament-bracket__round:last-child
    .tournament-bracket__match::after {
    border-left: 0;
}
.tournament-table
    .tournament-bracket__round:last-child
    .tournament-bracket__match::before {
    border-bottom-left-radius: 0;
}
.tournament-table
    .tournament-bracket__round:last-child
    .tournament-bracket__match::after {
    display: none;
}
.tournament-table
    .tournament-bracket__round:first-child
    .tournament-bracket__match::before,
.tournament-table
    .tournament-bracket__round:first-child
    .tournament-bracket__match::after {
    display: none;
}
.tournament-table .tournament-bracket__content {
    display: flex;
}
.tournament-table
    .tournament-bracket__content
    .tournament-bracket__team:first-child {
    width: 50%;
    order: 0;
    text-align: right;
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:first-child {
        align-items: flex-end;
    }
}
.tournament-table
    .tournament-bracket__content
    .tournament-bracket__team:first-child
    .tournament-bracket__country {
    order: 2;
    justify-content: flex-end;
}
@media (min-width: 24em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:first-child
        .tournament-bracket__country {
        order: 0;
    }
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:first-child
        .tournament-bracket__country {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}
.tournament-table
    .tournament-bracket__content
    .tournament-bracket__team:first-child
    .tournament-bracket__score {
    order: 0;
}
@media (min-width: 24em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:first-child
        .tournament-bracket__score {
        order: 2;
    }
}
.tournament-table
    .tournament-bracket__content
    .tournament-bracket__team:last-child {
    width: 50%;
    order: 2;
    text-align: left;
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:last-child {
        align-items: flex-start;
    }
}
@media (min-width: 38em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:last-child
        .tournament-bracket__country {
        justify-content: flex-start;
    }
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table
        .tournament-bracket__content
        .tournament-bracket__team:last-child
        .tournament-bracket__country {
        align-items: flex-start;
    }
}
.tournament-table
    .tournament-bracket__content
    .tournament-bracket__team:last-child
    .tournament-bracket__code {
    order: 1;
}
.tournament-table .tournament-bracket__table {
    width: 100%;
}
.tournament-table .tournament-bracket__caption {
    font-size: 0.8rem;
    color: #bdbdbd;
    font-weight: 300;
    padding-bottom: 0.75em;
}
.tournament-table .tournament-bracket__team {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
@media (min-width: 24em) {
    .tournament-table .tournament-bracket__team {
        flex-direction: column-reverse;
    }
}
@media (min-width: 38em) {
    .tournament-table .tournament-bracket__team {
        flex-direction: column-reverse;
    }
}
.tournament-table .tournament-bracket__country {
    font-size: 0.95rem;
    display: flex;
    align-items: center;
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table .tournament-bracket__country {
        display: flex;
        flex-direction: column;
    }
    .tournament-table .tournament-bracket__country .tournament-bracket__code {
        margin-top: 0.2em;
    }
}
.tournament-table .tournament-bracket__code {
    padding: 0 0.5em;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    cursor: help;
    transition: padding 0.2s ease-in-out;
}
@media (max-width: 24em) {
    .tournament-table .tournament-bracket__code {
        padding: 0 0.25em;
    }
}
@media (min-width: 38em) and (max-width: 52em) {
    .tournament-table .tournament-bracket__code {
        padding: 0;
    }
}
.tournament-table .tournament-bracket__score {
    display: flex;
    align-items: center;
}
.tournament-table
    .tournament-bracket__team:first-child
    .tournament-bracket__score {
    flex-direction: row-reverse;
    padding-left: 0.75em;
}
.tournament-table
    .tournament-bracket__team:last-child
    .tournament-bracket__score {
    padding-right: 0.75em;
}
.tournament-table .tournament-bracket__number {
    display: inline-block;
    padding: 0.2em 0.4em 0.2em;
    border-bottom: 0.075em solid transparent;
    font-size: 0.95rem;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.tournament-table
    .tournament-bracket__team--winner
    .tournament-bracket__number {
    background-color: #fff176;
    border-color: #fad674;
}
.tournament-table .tournament-bracket__medal {
    padding: 0 0.5em;
}

.navbar-menu .btn-vertical-sm-hover,
.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-menu .btn-vertical-sm-hover:hover,
.navbar-nav .nav-link:hover {
    color: #000 !important;
}

.menu-title {
    color: #000000 !important;
}
